html,
body {
height: 100%;
}

body {
display: flex;
align-items: center;
padding-top: 50px;
padding-bottom: 150px;
background-color: #ffffff;
}

.form-signin {
display: right;
align-items: center;
width: 100%;
max-width: 330px;
padding: 15px;
margin: 1000px;
}

.form-signin .form-floating:focus-within {
z-index: 5;
}

.form-signin input[type="text"] {
margin-bottom: -5px;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}

.form-signin input[type="password"] {
margin-bottom: 11px;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}



.w-100 {
margin-bottom: 11px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}