{% extends './sidebar.html' %}

{% block title %}Estadisticas{% endblock %}

{% block content %}
<br></br>
<div class="table-responsive-sm">
    <table id="example1" class="table table-bordered table-striped " style="width:100%">
        <thead>
            <tr class="text-center fw-bold bg-success">
                <td>FECHA</td>
                <td>TOTAL INGRESOS</td>
            </tr>
        </thead>
        <tbody>
            {% for resultado in ingresos %}
            <tr class="text-center">
                <td class="fw-bold">{{(resultado.fecha)}}</td>
                <td>
                    <span class="badge rounded-pill bg-warning"
                        style="color: black;">{{(resultado.total_ingresos)}}</span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}