<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>Bienvenido</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bx-user'></i>
            <span class="logo_name">B-PASS C</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="/home" class="active">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Inicio</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('listar_usuarios') }}">
                    <i class='bx bx-list-ul'></i>
                    <span class="links_name">Listar Usuarios</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('Registrar_usuarios') }}">
                    <i class='bx bx-user'></i>
                    <span class="links_name">Consultar Usuario</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-coin-stack'></i>
                    <span class="links_name">Registrar Usuarios</span>
                </a>
            <li>
                <a href="#">
                    <i class='bx bx-message'></i>
                    <span class="links_name">Solicitudes Radicadas</span>
                </a>
            </li>
            <li class="log_out">
                <a href="login">
                    <i class='bx bx-log-out'></i>
                    <span class="links_name">Cerrar Sesión</span>
                </a>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-menu sidebarBtn'></i>
                <span class="dashboard">Inicio</span>
            </div>
            <div class="search-box">
                <input type="text" placeholder="Search...">
                <i class='bx bx-search'></i>
            </div>
            <div class="profile-details">
                <!--<img src="images/profile.jpg" alt="">-->
                <span class="admin_name">{{ current_user.NOMBRES}}</span>
                <i class='bx bx-transfer-alt'></i>
                <i class='bx bxs-user'></i>
            </div>
        </nav>

        <div class="home-content">
            <div class="overview-boxes">
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Asistencia Hoy</div>
                        <div class="number">1,350</div>
                        <div class="indicator">
                            <i class='bx bxs-user'></i>
                            <span class="text">Actualizado</span>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Inasistencia Hoy</div>
                        <div class="number">90</div>
                        <div class="indicator">
                            <i class='bx bx-down-arrow-alt'></i>
                            <span class="text">Actualizado</span>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Total Estudiantes</div>
                        <div class="number">1,440</div>
                        <div class="indicator">
                            <i class='bx bxs-user'></i>
                            <span class="text">Actualizado</span>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Promedio Asistencia</div>
                        <div class="number">1,310</div>
                        <div class="indicator">
                            <i class='bx bx-transfer-alt'></i>
                            <span class="text">Actualizado</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sales-boxes">
                <div class="recent-sales box">
                    <div class="sales-details">
                        <div class="slide">
                            <div class="slide-inner">
                                <input class="slide-open" type="radio" id="slide-1" name="slide" aria-hidden="true"
                                    hidden="" checked="checked">
                                <div class="slide-item">
                                    <img
                                        src="{{ url_for('static', filename='img/logo2.avif') }}">
                                </div>
                                <input class="slide-open" type="radio" id="slide-2" name="slide" aria-hidden="true"
                                    hidden="">
                                <div class="slide-item">
                                    <img
                                        src="{{ url_for('static', filename='img/logo3.avif') }}">
                                </div>
                                <input class="slide-open" type="radio" id="slide-3" name="slide" aria-hidden="true"
                                    hidden="">
                                <div class="slide-item">
                                    <img
                                        src="{{ url_for('static', filename='img/logo3.avif') }}">
                                </div>
                                <label for="slide-3" class="slide-control prev control-1">‹</label>
                                <label for="slide-2" class="slide-control next control-1">›</label>
                                <label for="slide-1" class="slide-control prev control-2">‹</label>
                                <label for="slide-3" class="slide-control next control-2">›</label>
                                <label for="slide-2" class="slide-control prev control-3">‹</label>
                                <label for="slide-1" class="slide-control next control-3">›</label>
                                <ol class="slide-indicador">
                                    <li>
                                        <label for="slide-1" class="slide-circulo">•</label>
                                    </li>
                                    <li>
                                        <label for="slide-2" class="slide-circulo">•</label>
                                    </li>
                                    <li>
                                        <label for="slide-3" class="slide-circulo">•</label>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top-sales box">
                    <div class="title">Top Seling Product</div>
                    <ul class="top-sales-details">
                        <li>
                            <a href="#">
                                <!--<img src="images/sunglasses.jpg" alt="">-->
                                <span class="product">Vuitton Sunglasses</span>
                            </a>
                            <span class="price">$1107</span>
                        </li>
                        <li>
                            <a href="#">
                                <!--<img src="images/jeans.jpg" alt="">-->
                                <span class="product">Hourglass Jeans </span>
                            </a>
                            <span class="price">$1567</span>
                        </li>
                        <li>
                            <a href="#">
                                <!-- <img src="images/nike.jpg" alt="">-->
                                <span class="product">Nike Sport Shoe</span>
                            </a>
                            <span class="price">$1234</span>
                        </li>
                        <li>
                            <a href="#">
                                <!--<img src="images/scarves.jpg" alt="">-->
                                <span class="product">Hermes Silk Scarves.</span>
                            </a>
                            <span class="price">$2312</span>
                        </li>
                        <li>
                            <a href="#">
                                <!--<img src="images/blueBag.jpg" alt="">-->
                                <span class="product">Succi Ladies Bag</span>
                            </a>
                            <span class="price">$1456</span>
                        </li>
                        <li>
                            <a href="#">
                                <!--<img src="images/bag.jpg" alt="">-->
                                <span class="product">Gucci Womens's Bags</span>
                            </a>
                            <span class="price">$2345</span>
                        <li>
                            <a href="#">
                                <!--<img src="images/addidas.jpg" alt="">-->
                                <span class="product">Addidas Running Shoe</span>
                            </a>
                            <span class="price">$2345</span>
                        </li>
                        <li>
                            <a href="#">
                                <!--<img src="images/shirt.jpg" alt="">-->
                                <span class="product">Bilack Wear's Shirt</span>
                            </a>
                            <span class="price">$1245</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".sidebarBtn");
        sidebarBtn.onclick = function () {
            sidebar.classList.toggle("active");
            if (sidebar.classList.contains("active")) {
                sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            } else
                sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }
    </script>

</body>

</html>