{% extends './sidebar.html' %}

{% block title %}Bienvenido{% endblock %}

{% block content %}
<br></br>
<div class="container float-sm-left">
    <div class="row">
        <div class="col">
            <div class="card shadow-lg" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title fw-bold">Asistencia Hoy</h3>
                    <h4 class="card-text fw-bold">{{ count.ingresos }}</h4>
                    <a href="#" class="btn btn-outline-success disabled">
                        <img src="{{ url_for('static', filename='img/icon2.png') }}" alt="hugenerd" width="30"
                            height="30" class="rounded-circle"> Actualizado</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-lg" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title fw-bold">Inasistencia Hoy</h3>
                    <h4 class="card-text fw-bold">{{ count2.inasistencias }}</h4>
                    <a href="#" class="btn btn-outline-success disabled">
                        <img src="{{ url_for('static', filename='img/icon4.png') }}" alt="hugenerd" width="30"
                            height="30" class="rounded-circle"> Actualizado</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-lg" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title fw-bold">Total Estudiantes</h3>
                    <h4 class="card-text fw-bold">{{ count1.total_estudiantes }}</h4>
                    <a href="#" class="btn btn-outline-success disabled">
                        <img src="{{ url_for('static', filename='img/icon3.png') }}" alt="hugenerd" width="30"
                            height="30" class="rounded-circle"> Actualizado</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-lg" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title fw-bold">Promedio</h3>
                    <h4 class="card-text fw-bold">{{count3.promedio}}</h4>
                    <a href="#" class="btn btn-outline-success disabled">
                        <img src="{{ url_for('static', filename='img/icon1.png') }}" alt="hugenerd" width="30"
                            height="30" class="rounded-circle"> Actualizado</a>
                </div>
            </div>
        </div>
        <div class="col">
            <br></br>
            <div class="card shadow-lg" style="width: 50rem; height: 26rem;">
                <div class="card-body">
                    <div>
                        <canvas id="bar" width="900" height="400"></canvas>
                        <script>
                            var ctx = document.getElementById("bar").getContext("2d");
                            var datosGrafico = {{ ingresosGra | tojson  }};
                            console.log(datosGrafico);
                            var bar = new Chart(ctx, {
                                type: "bar",
                                data: {
                                    labels: [datosGrafico[0]["fecha"], datosGrafico[1]["fecha"], datosGrafico[2]["fecha"], datosGrafico[3]["fecha"], datosGrafico[4]["fecha"]],
                                    datasets: [
                                        {
                                            label: "Asistencias",
                                            data: [datosGrafico[0]["cantidad"], datosGrafico[1]["cantidad"], datosGrafico[2]["cantidad"], datosGrafico[3]["cantidad"], datosGrafico[4]["cantidad"]],
                                            fill: false,
                                            backgroundColor: ['rgba(75, 192, 192, 0.2)'],
                                            borderColor: ['rgb(75, 192, 192)'],
                                            borderWidth: 1
                                        },
                                    ],
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true,
                                        },
                                    },
                                },
                            })
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <br></br>
            <div class="card shadow-lg" style="width: 25rem; height: 26rem;">
                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner" style="width: 25rem; height: 26rem;">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="{{ url_for('static', filename='img/logo1.gif') }}" class="d-block w-100" style="width: 25rem; height: 26rem;">
                        </div>
                        <div class="carousel-item" data-bs-interval="10000">
                            <img src="{{ url_for('static', filename='img/logo2.gif') }}" class="d-block w-100" style="width: 25rem; height: 26rem;">
                        </div>
                        <div class="carousel-item" data-bs-interval="">
                            <img src="{{ url_for('static', filename='img/logo3.gif') }}" class="d-block w-100" style="width: 25rem; height: 26rem;">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}