{% extends './sidebar.html' %}

{% block title %}Bienvenido{% endblock %}

{% block content %}
<br></br>
<div class="container float-sm-left">
    <div class="row">
        <div class="col">
            <div class="card shadow-lg" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title fw-bold">Asistencia Hoy</h3>
                    <h4 class="card-text fw-bold">{{ count }}</h4>
                    <a href="#" class="btn btn-outline-success disabled">
                        <img src="{{ url_for('static', filename='img/icon2.png') }}" alt="hugenerd" width="30"
                            height="30" class="rounded-circle"> Actualizado</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-lg" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title fw-bold">Inasistencia Hoy</h3>
                    <h4 class="card-text fw-bold">{{ count2 }}</h4>
                    <a href="#" class="btn btn-outline-success disabled">
                        <img src="{{ url_for('static', filename='img/icon4.png') }}" alt="hugenerd" width="30"
                            height="30" class="rounded-circle"> Actualizado</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-lg" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title fw-bold">Total Estudiantes</h3>
                    <h4 class="card-text fw-bold">{{ count1 }}</h4>
                    <a href="#" class="btn btn-outline-success disabled">
                        <img src="{{ url_for('static', filename='img/icon3.png') }}" alt="hugenerd" width="30"
                            height="30" class="rounded-circle"> Actualizado</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-lg" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title fw-bold">Promedio</h3>
                    <h4 class="card-text fw-bold">{{count3}}</h4>
                    <a href="#" class="btn btn-outline-success disabled">
                        <img src="{{ url_for('static', filename='img/icon1.png') }}" alt="hugenerd" width="30"
                            height="30" class="rounded-circle"> Actualizado</a>
                </div>
            </div>
        </div>
        <div class="col">
            <br></br>
            <div class="card shadow-lg" style="width: 50rem; height: 26rem;">
                <div class="card-body">
                    <div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <br></br>
            <div class="card shadow-lg" style="width: 25rem; height: 26rem;">
                <div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}