{% extends './sidebar.html' %}

{% block title %}Listado de Ingresos{% endblock %}

{% block content %}
<br></br>
<div class="table-responsive-sm">
    <table id="example2" class="table table-bordered table-striped " style="width:100%">
        <thead>
            <tr class="text-center fw-bold bg-success">
                <td>ID_USUARIO</td>
                <td>FECHA</td>
            </tr>
        </thead>
        <tbody>
            {% for ingresos in listar %}
            <tr class="text-center">
                <td class="fw-bold">{{(ingresos.ID_USUARIO)}}</td>
                <td>{{(ingresos.FECHA)}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button id="export-btn2" class="w-10 btn btn-lg btn-success mb-2 fw-bald shadow-lg" data-bs-dismiss="btn-success" aria-label="btn-success">
        Excel
    </button>

</div>
{% endblock %}