{% extends './sidebar.html' %}

{% block title %}Usuarios Listados{% endblock %}

{% block content %}
<br></br>
<div class="table-responsive-sm">
    <table id="example" class="table table-bordered table-striped " style="width:100%">
        <thead>
            <tr class="text-center fw-bold bg-success">
                <td>ID</td>
                <td>NOMBRES</td>
                <td>APELLIDOS</td>
                <td>EDAD</td>
                <td>GRADO</td>
                <td>ROL</td>
            </tr>
        </thead>
        <tbody>
            {% for usuarios in employee %}
            <tr class="text-center">
                <td class="fw-bold">{{(usuarios.id)}}</td>
                <td>{{(usuarios.NOMBRES)}}</td>
                <td>{{(usuarios.APELLIDOS)}}</td>
                <td>{{(usuarios.EDAD)}}</td>
                <td>{{(usuarios.GRADO)}}</td>
                <td>
                    <span class="badge rounded-pill bg-warning" style="color: black;">{{(usuarios.ROL)}}</span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<button id="export-btn" class="w-10 btn btn-lg btn-success mb-2 fw-bald shadow-lg" data-bs-dismiss="btn-success"
    aria-label="btn-success">Excel</button>
{% endblock %}