{% extends './base.html' %}

{% block title %}Inicia Sesión{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block body %}
<div class="container ">
    <div class="row">
        <div class="col-lg-8">
            <div>
                <img class="mb-3 mt-3 rounded-3 img-fluid shadow-lg" src="{{ url_for('static', filename='img/logo1.gif') }}">
            </div>
        </div>
        <div class="col-lg-4 ">
            {% with messages = get_flashed_messages() %}

            {% if messages %}
            <br />
            {% for message in messages %}
            <div class="alert alert-success d-flex align-items-center alert-dismissible" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            </div>
            {% endfor %}

            {% endif %}

            {% endwith %}
            <br>
            <br>
            <br>
            <br>
            <br>
            <form class="" action="/login" method="POST">
                <h1 class="h2 mb-3 fw-bald" style="color: #07b66d;">Inicia Sesión</h1>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="form-floating">
                    <input type="text" class="form-control shadow-sm" id="username" name="username" placeholder="username">
                    <label for="username">Usuario</label>
                </div>
                <div class="form-floating mt-2">
                    <input type="password" class="form-control shadow-sm" name="password" placeholder="password">
                    <label for="password">Contraseña</label>
                </div>
                <div class="checkbox mb-2">
                    <label>
                        <input type="checkbox" value="Recordarme"> Recuerdame
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-success mb-2 fw-bald shadow-lg" type="submit"
                    style="color: #ffffff;">Entrar</button>
                <button class="btn btn-link" type="submit" style="color: #07b66d;">Recuperar Contraseña</button>
                <p class="mt-5 mb-3 text-muted">@Copyright 2023</p>
            </form>
        </div>
    </div>
</div>
{% endblock %}